body {
    background-color: #22f8b8;
    display: grid;
    place-content: center;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    color: #1c144b;
    margin: 0; /* Elimina el margen predeterminado del body */
    overflow: hidden; /* Evita que aparezca una barra de desplazamiento horizontal */
}

img {
    width: 80px;
animation: name duration timing-function delay iteration-count direction fill-mode;
animation-name: mover;
animation-duration: 3s;
animation-timing-function: ease-in-out;
animation-delay: 2s;
animation-iteration-count: 3;
animation-direction: alternate;
animation-fill-mode: both;
}
img:hover {
    animation-play-state: paused;
    opacity: .7;
    cursor: progress;
}
@keyframes mover {
    from {
        transform: translateX(0);
        opacity: 0;
    }
    to {
        transform: translateX(1000px); /* Mueve la imagen hasta el borde derecho */
        opacity: 1;
    }
}